body {
    width: 100%;
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Nerko One', cursive;
}

.agregado {
    width: 100%;
}

button {
    font-size:16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.page-nav {
    background-color: #1f6ca0;
    border: 1px solid #008CBA;
    position: relative;
}

.page-nav h1 {
    margin: 60px;
  

}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #0c0d0e; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #0d0d0e; /* Blue */
    color: white;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.page-content:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-1%);}

.product-container {
    margin: auto;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
    width: 100%;
overflow: hidden;
border-radius: 6px;
overflow: hidden;


transition: all 400ms ease-out;
cursor: default;
}

.product-container:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);}
    
  

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

@media only screen and (min-width:320px) and (max-width:768px){}
	.page-content{
		flex-wrap: wrap;
	}
	.product-container{
		margin: 20px;
	}
.button-add {
    background-color: white;
    color: black;
    border: 2px solid #1f6ca0; /* Green */
    transition-duration: 0.4s;
    
}

.button-add:hover {
    background-color: #1f6ca0; /* Green */
    color: white;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 25%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 20px;
	}
}
/*Fin-Cards*/